body {
  font-family: 'Work Sans', sans-serif !important;
  line-height: 1.8 !important;
  font-size: 13px !important;
  color: #6e7076 !important;
}

ul#top-nav > li > a {
  font-size: 13.5px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 700 !important;
}

.lead {
  line-height: 1.6 !important;
}

.content-padding {
  padding: 20px 80px !important;
  font-size: 15px;
}

.text-small {
  font-size: 12px !important;
  display: block;
}

.form-overwrite .control-label {
  color: #444;
  font-size: 13px;
  margin-bottom: 3px !important;
  text-align: left !important;
  display: block !important;
}

.form-overwrite text-muted {
  color: #bbb !important;
}

.form-overwrite .form-control {
  font-size: 14px !important;
  min-height: 50px;
  border-radius: 2px;
  padding: 10px 15px !important;
  margin-bottom: 5px;
  color: #111;
}

.form-overwrite textarea.form-control {
  padding-top: 15px !important;
}

.form-overwrite .btn {
  padding: 12px 60px;
  border-radius: 2px;
  font-size: 16px;
}

ol li {
  margin-bottom: 1rem;
}

.error {
  color: #d40c0c;
  font-size: 12px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.text-primary {
  color: #337ab7 !important;
}

.text-black {
  color: #444;
}

.text-red,
.alert-danger {
  color: #d40c0c !important;
}

.text-left {
  text-align: left !important;
  padding-left: 10px;
}

.data-protection-statement {
  color: #333;
}

.avatar-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 15px;
}
