/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between img and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,footer {
	background-color:#3d3d3d;
	/*#767676;*/
}
body{
	padding-top:2px;
	background-image: url(../img/top.png);
	background-repeat: repeat-x;
}

a:hover{text-decoration:none}

section{
	background-color: #cccccc;
	/*background-image: url(../img/white_texture.png);*/
}
#top,#content{
	background-color:white;
}
footer{ margin-top:-50px; padding:60px 0 0;color:#bbb;}
footer h3{color:#f1f1f1;font-weight:normal;font-size:18px; line-height:20px;}
footer span{font-weight:bold;}
footer p.home {background: url(../img/bg-pointer.png) 5px 5px no-repeat;padding-left: 30px;}
footer p.email {background: url(../img/bg-mail.png) 5px 5px no-repeat;padding-left: 30px;}
footer p.phone {background: url(../img/bg-phone.png) 5px 0px no-repeat;padding-left: 30px;}
footer a{color:#cecece;}
footer a:hover {color: #f1f1f1;}
#copyright{
	margin-top:10px;
	padding-top: 10px;
	color: #888;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #6D6D6D;
}
/*Navigation*/
ul#top-nav li { float:left; }
ul#top-nav li a {
color: #3f3f3f;
font-size:14px;
font-weight:500;
text-decoration: none;
padding: 30px 2px 20px;
text-align:center;
display: inline-block;
-webkit-transition: all 0.2s ease 0s;
-moz-transition: all 0.2s ease 0s;
-o-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
border-top: 4px solid transparent;
z-index: 15;
width:80px; }
.alignright {
float: right;
}
ul#top-nav li a:hover, ul#top-nav li a.active, ul#top-nav li a.stays-active { 
background: url(../img/bg-transparent.png) repeat;
border-top: 4px solid #d40c0c;
color: #cb0909; }
ul#top-nav ul { position:absolute; height:auto; width:143px; background:url(../img/bg-dropdown2.png) no-repeat; padding:15px 0px 9px 0px; top:73px; margin-left:0px; z-index:200; list-style:none; }
ul#top-nav ul li { display:block; z-index:191 !important; float:none; border-bottom:1px solid #333; }
ul#top-nav ul li.last { border-bottom:0px; }
ul#top-nav ul a, ul#top-nav ul a:visited { position:relative; display:block; width:auto; float:none; text-indent:0px; padding:8px 0px 12px 19px; color:#7a7a7a; z-index:191 !important; height:12px !important; font:11px Arial, Helvetica, sans-serif; text-decoration:none; text-transform:none; text-shadow:none; -webkit-transition: color 0.2s ease 0s; -moz-transition: color 0.2s ease 0s; -o-transition: color 0.2s ease 0s; transition: color 0.2s ease 0s; border-top:0px; }
ul#top-nav ul a:hover { color:#fff; text-decoration:none; background:none; border-top:0px; }
ul#top-nav li ul { display:none; }
ul#top-nav ul ul { position:absolute; height:auto; width:143px; background:url(../img/bg-dropdown3.png) no-repeat; padding:9px 0px 9px 6px; margin-left:143px; margin-top:-6px; z-index:200; list-style:none; }
ul#top-nav ul ul.row4 { top:111px; }
.cursor { cursor:default; }
/* End Main Nav
--------------------------------------------------------------------------------------------------------*/

/*Bread Crumb*/
#breadcrumb{
height: 41px;
background: url(../img/breadcrumb.png) center top no-repeat;
padding: 15px 30px 0;
margin-top:-7px;
}
#breadcrumb .text{
margin-top: 6px;
}
.arrow {
padding-right: 13px;
background: url(../img/bg-arrow-right.png) right 5px no-repeat;
margin-right: 4px;
}
#breadcrumb p a {
	text-decoration: none;
	opacity:0.5;
	filter: Alpha(Opacity=50);
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-o-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
}
#breadcrumb p a:hover {
	opacity:1;
	filter: Alpha(Opacity=100);
}

#clogin{padding: 5px 8px;}
.gray{color:#999}
div#content {
	position: relative;
	z-index: 1;
	box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 1px 9px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.6);
	padding-bottom: 70px;
}
#logo{
	background-color: #fff;
	/*background-image: url(../img/logo_xmas.png);*/
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 200px;
	margin-left: -6px;
	margin-top: 10px;
	}
.maincontent{
	padding:0px 30px;
	background-color:white;
	min-height:400px;
}

.maincontent h4{font-size: 18px;font-weight: 500;}
.maincontent div>img{border: 1px solid #efefef;}

#index-content.maincontent .span4,footer .span4{width:280px; margin-left:0px; margin-right:30px;}
#index-content.maincontent .span4.last,footer .span4.last{margin-right:0px;}

li.span4{width:286px;}
.thumbnail{border:thin solid #fafafa; min-height:230px;max-height:260px;overflow:hidden;padding-bottom:10px;}
.thumbnail:hover{border:thin solid #E5E5E5;}
.thumbnail > img{border:none !important;}
.thumbnail h4, .thumbnail p {padding:0 2px;}
aside .thumbnails {
margin-left: 0;
}
aside .thumbnail{ min-height:260px;}

/* For products page only */
#products .thumbnail{max-height:230px;}
#products .thumbnail h4{height:40px; overflow:hidden;}

#portfolio .span3{width:250px}
#breadcrumb button .icon-search,aside .view { opacity:0.5;filter: Alpha(Opacity=50);}
#breadcrumb button:hover .icon-search,aside .view:hover { opacity:100;filter: Alpha(Opacity=100);}

h2 a, h3 a, h4 a, h5 a {
color: #1E1E1E;
text-decoration: none;
-webkit-transition: color 0.2s ease 0s;
-moz-transition: color 0.2s ease 0s;
-o-transition: color 0.2s ease 0s;
transition: color 0.2s ease 0s;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
text-decoration: none;
color: #E40D14;
}


/* Helper Class */
.break {
height: 20px;
border-top: 1px solid #dfdfdf;
width: auto;
margin-top: 45px;
position: relative;
}

.align-right{
	text-align:right !important;
}

.pad30{
padding-right:30px;
}

#twitter_icon, #facebook_icon, #googleplus_icon, #skype_icon, #flickr_icon, #linkedin_icon, #vimeo_icon, #youtube_icon, #rss_icon {
	display: block;
	background:url(../img/social-icons.png) no-repeat #aaa;
	-webkit-border-radius: 99%; 
	-moz-border-radius: 99%;
	-o-border-radius: 99%;
	border-radius: 99%;
	width: 19px;
	height: 19px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#twitter_icon:hover, #facebook_icon:hover, #googleplus_icon:hover, #skype_icon:hover, #flickr_icon:hover, #linkedin_icon:hover, #vimeo_icon:hover, #youtube_icon:hover, #rss_icon:hover {
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#twitter_icon:hover{background-color:#31b1dd;}
#facebook_icon:hover{background-color:#14348d;}
#linkedin_icon:hover{background-color:#4497b9;}

#twitter_icon {
	background-position: 5px 5px;
}

#facebook_icon {
	background-position: -18px 5px;
}

#googleplus_icon {
	background-position: -41px 5px;
}

#skype_icon {
	background-position: -64px 5px;
}

#flickr_icon {
	background-position: -87px 5px;
}

#linkedin_icon {
	background-position: -110px 5px;
}

#vimeo_icon {
	background-position: -133px 5px;
}

#youtube_icon {
	background-position: -156px 5px;
}

#rss_icon {
	background-position: -179px 5px;
}

fieldset{ padding:0 15px;}
fieldset label{ color:black;font-weight:bold; width:100px; display:inline-block;}
/* =Slideshow
--------------------------------------------------------------------------------------------------------*/
#slideshow { width:960px; height:350px; background-color:black; margin:-8px 0 7px -20px; color:#D5D5D5;}
#slider { position:relative; z-index:10; overflow:visible; }
#cyclenav {
position: relative;
display: inline-block;
z-index: 21;
top: -90px;
left: 645px;
}
#cyclenav a { font-size:12px;font-weight:bold; margin-right:3px; text-decoration:none; padding:6px 9px;background-image:url(../img/slider-transparent.png); background:rgba(53, 51, 52,0.6); color:black; border: 1px solid rgba(37, 37, 37, 0.18); -webkit-background-clip: padding-box; /* for Safari */ background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
#cyclenav a:hover,#cyclenav a.activeSlide {background-image:url(../img/slider-transparent2.png); background:#fff;background:rgba(255,255,255,0.8); border: 1px solid rgba(37, 37, 37, 0.18);color:#1e1e1e; -webkit-background-clip: padding-box; /* for Safari */ background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ }

.oneByOne_item { position:absolute; width:960px; height:350px; display:none; overflow:hidden; }
.oneByOne_item .text_1_1 {
position: absolute;
top: 96px;
right: 40px;
height:140px;
overflow: hidden;
width: 230px;
background-image:url(../img/slider-transparent.png); background:rgba(0,0,0,0.7);
padding: 3px 19px;
border: 1px solid rgba(37, 37, 37, 0.18);
-webkit-background-clip: padding-box;
 /* for Safari */ background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */ }
img.item_1_1 { position:absolute; top:0px; left:0px; }
.oneByOne_item .text_1_1 h4 { padding:0px !important; font-size:20px; font-weight:normal; color:#EAEAEA;}
.oneByOne_item .text_1_1 a{font-weight:bolder; color: #FD0000;}
/* End Slideshow
--------------------------------------------------------------------------------------------------------*/
/* =Tabs
--------------------------------------------------------------------------------------------------------*/
.hide { display: none;}
.clear { clear: both; }
#tab-one { background: #fff; margin:15px 0 0px 0; }
#tab-one .nav { overflow: visible; margin-bottom:10px; margin-top:20px; position:absolute;top: 70px;
left: 30px; }
#tab-one .nav li { width: auto; float: none; margin: 0; width:204px; height:44px; }
#tab-one .nav li a.last { border-bottom:0px; }
#tab-one .nav li a { cursor:default; font-size:14px; font-weight:400; color:#9A9A9A; padding:15px 10px 10px 30px; width:auto; text-decoration:none; -webkit-transition: color 0.2s ease 0s; -moz-transition: color 0.2s ease 0s; -o-transition: color 0.2s ease 0s; transition: color 0.2s ease 0s; }
#tab-one .nav li a i{opacity:0.5;-webkit-transition: color 0.2s ease 0s; -moz-transition: color 0.2s ease 0s; -o-transition: color 0.2s ease 0s; transition: color 0.2s ease 0s;}
#tab-one .nav li a.current i{opacity:1;}#tab-one .nav li a:hover i{opacity:1;}
#tab-one .nav li a:hover { text-decoration:none; color:#1e1e1e; cursor:pointer;}
#tab-one .nav li a:hover { text-decoration:none; color:#1e1e1e; cursor:pointer;}
#tab-one ul li.nav-li a.current span:hover { text-decoration:none; color:#1e1e1e; cursor:default; }
#tab-one .list-wrap { padding:0px 0px 0px 129px; margin-left:111px; background:url(../img/bg-shadow-tabs-tile.png) left top no-repeat; min-height:350px; }
#tab-one .list-wrap-bottom { padding:0px 20px 0px 129px; margin-left:111px; background:url(../img/bg-shadow-tabs-bottom.jpg) left top no-repeat; height:93px; margin-top:-63px; }
#tab-one ul li a { display: block; border-bottom:1px solid #efefef; }
#tab-one ul li.nav-li a.current { background:url(../img/bg-tabs-current.png) left 1px no-repeat; width: 175px; height:158px; cursor:default; text-decoration:none; color:#1e1e1e; overflow:visible; border-bottom:0px; }
#tab-one .list-wrap { height: auto !important; }
#tab-two { background: #fff; margin:50px 0 10px 0; border:1px solid #d2d2d2; }
#tab-two .nav { overflow: hidden; margin-bottom:10px; margin-top:-41px; margin-left:-1px; position:absolute; }
#tab-two .nav li { width: auto; float: left; margin: 0; }
#tab-two .nav li.last { margin-right: 10px; }
#tab-two .nav li.first { }
#tab-two .nav li a { font-size:15px; font-weight:600; color:#858585; font-family:'Open Sans', Arial, Helvetica, sans-serif; line-height:20px; height:14px; border-right:1px solid #fff; border-top:1px solid #fff; border-left:1px solid #fff; border-bottom:1px solid #d2d2d2; width:auto; text-decoration:none; }
#tab-two .nav li a:hover { text-decoration:none; color:#884aa0; }
#tab-two .list-wrap { padding:15px 20px; }
#tab-two ul li a { display: block; padding:9px 20px 16px 20px; }
#tab-two ul li.nav-li a.current { background-color: #fff; border-bottom:0px; padding-bottom:17px; cursor:default; text-decoration:none; color:#1e1e1e; border-top:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; }
/* =End Tabs
--------------------------------------------------------------------------------------------------------*/

/* -- below is for demo --*/

#demo-color {
	position: fixed;
	top: 113px;
	left: -170px;
	width: 150px;
	height: 140px;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px #000;
	border-top-right-radius: 7px;
	background: url(../img/bg-semi-dark.png);
	z-index: 200;
}

#demo-color a {
	color: #fff;
	font-weight: bold;
}

#demo-color a:hover {
	text-decoration: underline;
}

#button-settings {
	display: block;
	position: absolute;
	top: 120px;
	left: 170px;
	width: 40px;
	height: 40px;
	background: url(../img-for-demo/button-settings.png);
}

#demo-buy {
	position: fixed;
	top: 300px;
	left: -170px;
	width: 150px;
	height: 20px;
	padding: 10px;
	color: #fff;
	text-shadow: 1px 1px #000;
	background: url(../img/bg-semi-dark.png);
	z-index: 201;
}

#button-buy {
	display: block;
	position: absolute;
	top: 0;
	left: 170px;
	width: 40px;
	height: 40px;
	background: url(../img-for-demo/button-buy.png);
}

.button-buy-it {
	position: absolute;
	top: 3px;
	left: 21px;
	display: block;
	width: 128px;
	height: 27px;
	padding-top: 6px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: url(./img/buttons/button-sign-in.png);
	text-shadow: 1px 1px #333;
}

.button-buy-it:hover {
	color: #fff;
	background-position: 0 -33px;
}

a.search{color:#7A7A7A; padding:0 0 10px 0; margin-top: -10px; display: block;}
div.span3.cst{width:200px;}

/* Contact Us Page */
#map{
	height:350px;
	border:1px solid #fafafa;
	margin-top:40px;
}
.form-horizontal .controls {margin-left: 0px;}
.form-horizontal input{font-size:12px; padding:7px;}
.search input, .search button{font-size:12px; padding:8px 10px;}
.radio input[type="radio"]{margin-left:-16px}
form#custom{
	width: 440px;
	padding: 10px;
}
form#custom label{
	display: block;
	padding-top: 6px;
	padding-right: 5px;
	width: 120px;
	padding-bottom: 2px;
	float: left;
	}
form#custom .btn{margin-top:10px;}
form#custom input[type="text"], form#custom input[type="password"], form#custom textarea, form#custom select {
height: 15px;
width: 270px;
padding: 7px;
margin-bottom: 10px;
border: thin solid #CCC;
color: #740C01;
}
form#custom textarea {
height: 80px;
}
form#custom select {
height: 32px;
padding: 2px;
width: 285px;
}

.lead p{margin-bottom: 20px;
font-size: 18px;
font-weight: 200;
line-height: 30px;}

#tab-one ul.sitemap li a{
	color: #333;
	display:inline;
	border:none;
}
#tab-one ul.sitemap li a:hover,.red{color: #CB0909}


#tab-one ul li a.career{color:#7a7a7a;border:none;}
#tab-one ul li a:hover.career{color: #CB0909}


.accordion h1{font-size: 20px;}
.accordion h2{font-size: 18px;}
.accordion h3{font-size: 16px;}
.accordion h4{font-size: 14px;}
.accordion h5{font-size: 12px;}
.accordion h6{font-size: 11px;}

.accordion h1,.accordion h2,.accordion h3,.accordion h4,.accordion h5,.accordion h6{
font-weight:normal;
display: inline-block;
cursor: pointer;
width:100%;
margin-bottom: -1px;
background-color: #f1f1f1;
border:1px solid #D1D5D8;
text-decoration: none!important;
padding: 3px 0px 3px 15px;
}
.accordion dd{
padding:10px 20px;
border: 1px solid #dddddd;
margin: 0px -17px 0px 0px;
}

.accordion dt.active h3{
font-weight: bold;
}
.accordion dd h4{
font-size:14px;
}

ul#portfolio-filter {
margin: -20px 0;
padding: 0;
height: 64px;
padding-left: 70px;
line-height: 64px;
margin-bottom:10px;
}
ul#portfolio-filter li {
display: inline;
}
ul#portfolio-filter a.current {
background-color: #DDD;
}

ul#portfolio-filter a:hover, ul#portfolio-filter a.current {
color: #888;
}

ul#portfolio-filter a {
margin-right: 0.5em;
padding: 0.5em 1em;
background: #FFF;
color: #AAA;
font-weight: bold;
text-decoration: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for img, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
