/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0px;
	width:530px;
	height:380px;
	border:0;
	padding:0;
	margin:0;
	display:none;
}

/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	right:0;
	color:#aaa;
	width:285px;
	padding:10px 30px 10px 10px;
	margin-top:20px;
	z-index:89;
}
.nivo-caption h1 {
	color:#ccc; font-size:24px; font-weight:bold; line-height:28px; margin-bottom:5px;
}
.nivo-caption p{margin:0 0 20px 0;}
.nivo-caption a {color:#E40D14}
.nivo-caption a:hover {text-decoration:none;color:#eee;}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav { display:none;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position: absolute;
	width: 300px;
	height: 20px;
	top: 320px;
	right: 30px;
}
.nivo-controlNav a {
	position: relative;
	z-index: 99;
	cursor: pointer;
	float:right;
	display: inline-block !important;
	width: 16px;
	text-indent: -9999px;
	height: 16px;
	overflow: hidden;
	margin: 0 4px;
	background-image: url(../images/button-slider.png);
	background-repeat: no-repeat;
	background-position: 0px -17px;
}
.nivo-controlNav a:hover { background-position:0 0;}
.nivo-controlNav a.active { background-position:0 0;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.nivo-controlNav a{ text-indent:-9999px; } /* chrome, safari */
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
 {
.nivo-controlNav a{ text-indent:-9999px; } /* opera */
 }

.nivo-directionNav {}
.nivo-directionNav a {}

#slider .nivo-controlNav img {}
