/* 

CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

.dashboard_item{
text-align: center;
background: white;
text-align:center;
border: #aaa 1px solid;
padding:40px 15px 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
height:60px;
overflow:hidden;
color:#333;
font-weight:bold;
margin-bottom:30px;
}
.dashboard_item:hover{ background:#f6f6f6;}
.dashboard_item a{color:#333;
-moz-transition: color 0.3s ease-out;
-webkit-transition: color 0.3s ease-out;
-o-transition: color 0.3s ease-out;
-ms-transition: color 0.3s ease-out;
transition: color 0.3s ease-out}

h1 p{font-size:12px; color:#999;font-weight:normal;}
.dashboard_item:hover a{color:#D7002E;}
.dashboard_item i{font-size:48px; display:block !important; padding-bottom:8px;}
/*Customised form */
#custom label {
display: block;
padding-top: 6px;
padding-right: 5px;
width: 120px;
color: #3A3A3A;
padding-bottom: 2px;
float: left;
}
#custom.edit label{ font-size:15px;padding-top:30px;}
form#custom{
width: 430px;
padding: 10px;	
}
form#custom.edit{margin-top:-40px}
form#custom input[type="text"], form#custom input[type="password"], form#custom textarea, form#custom select{
height: 15px;
width: 270px;
padding: 7px;
margin-bottom: 10px;
border: thin solid #CCC;
color: #740C01;
}

form#custom select{
	height: 32px;
	padding: 2px;
	width: 285px;
}
form#custom textarea{
	height:80px;
}
